{% extends 'base.html' %}
{% load static %}
{% block title %}Landing Page{% endblock title%}
{% block body_styles %}home{% endblock body_styles%}
{% block body_data %}

<section class="container" style="padding-top: 50px;">
    
    <div class="loader"><img src="{% static 'img/logo.png' %}" alt=""></div>

    <h2 class="text-center">A continuació teniu un índex per anar directament a la part del checklist que ús interessi</h2>

    <div class="row">

        {% for Tema in Contenidos %}

        <div class="col-md-4 spacing-between">
            <a class="tema-link" href="{{Tema.pk}}/{{Tema.pasoInicial.pk}}">
                <div class="tema-container" style="{% if Tema.imagenDestacada %}background-image:url('{{Tema.imagenDestacada.url}}');{% else %}background-image:url('{% static 'img/placeholder.jpg' %}');{% endif %}">
                    <span>
                        {{Tema.nombre}}
                    </span>
                </div>
            </a>
        </div>

        {% endfor %}

    </div>

</section>


{% endblock body_data %}
