{% extends 'base.html' %}
{% block title %}Landing Page{% endblock title%}
{% block body_data %}
<div class="landingContainer">
    <div class="landingContent">
        <h2>A continuació teniu un índex per anar directament a la part del checklist que ús interessi</h2>
        <div class="containerTemas">
            <div class="row">
                {% for Titulo in Contenidos %}
                <div class="temasLanding col-4 px-5 p-4 square d-flex justify-content-center align-middle " ><a class="btn btn-primary d-flex w-100 h-100 justify-content-center align-items-center" href="{{Titulo.pk}}/{{Titulo.pasoInicial.pk}}">{{Titulo.nombre}}</a></div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>
{% endblock body_data %}
