{% extends 'base.html' %}
{% block title %}Landing Page{% endblock title%}
{% block body_data %}
<div class="landingContainer">
    <div class="landingContent">
        <h2>A continuació teniu un índex per anar directament a la part del checklist que ús interessi</h2>
        <ol>
            {% for Titulo in Contenidos %}
                
                {% if Titulo.pasoInicial.id %}
                    <li><a href="{{Titulo.id}}/{{Titulo.pasoInicial.id}}">{{Titulo.nombre}}</a></li>
                {% endif %}
                    
            {% endfor %}
        </ol>
    </div>

</div>
{% endblock body_data %}
