{% extends 'base.html' %}
{% block title %}Wizard{% endblock title%}
{% block body_data %}


<div class="row">
    <div class="col-md-3">
        <div class="sidebar">
            {% for item, info in annotated_list %}
                {% if info.open %}
                    
                    <ol ><li class="{% ifequal paso.id item.id %}active{% endifequal %}">
                    

                {% else %}
                    </li><li class=""><a href="">
                {% endif %}

                

                <a href="/{{tema.id}}/{{item.id}}">{{item.nombre}}</a>

                {% for close in info.close %}
                    </li></ol>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="col-md-9">
        <div class="landingContainer">
            <div class="landingContent">
                <h2>{{ paso.nombre }}</h2>
                <div class="paso-text">{{ paso.texto|safe }}</div>
            </div>    
        
        </div>
    </div>

</div>

{% endblock body_data %}