{% extends 'base.html' %}
{% block title %}Wizard{% endblock title%}
{% block body_data %}


<section>
    
    <div class="sidebar">


        {% for item, info in annotated_list %}
            {% if info.open %}
                <ul ><li class=" item-sidebar">
            {% else %}
                </li><li class=""><a href="">
            {% endif %}

                <div class="{% ifequal paso.id item.id %}active{% endifequal %}"><a href="/{{tema.id}}/{{item.id}}" class="">{{item.nombre}}</a></div>

            {% for close in info.close %}
                </li></ul>
            {% endfor %}
        {% endfor %}

    </div>
    <div class="wizard">

        <h1>{{ paso.nombre }}</h1>
        {{ paso.texto|safe }}

        <div class="row">
            <div class="col-md-6">

                {% if paso.tipo == 'PR' %}
                    <a class="btn btn-secondary" href="/{{tema.id}}/{{atras.id}}">No</a>
                {% else %}
                    <a class="btn btn-secondary" href="/{{tema.id}}/{{atras.id}}">Atras</a>
                {% endif %}

            </div>
            <div class="col-md-6">

                {% if adelante %}
                {% if paso.tipo == 'PR' %}
                    <a class="btn btn-success" href="/{{tema.id}}/{{adelante.id}}">Si</a>
                {% else %}
                    <a class="btn btn-success" href="/{{tema.id}}/{{adelante.id}}">Siguiente</a>
                {% endif %}
                {% else %}
                {% ifnotequal mainChild.id paso.id %}
                    <a class="btn btn-success" href="/">Finalizar</a>
                {% else %}
                    <a class="btn btn-success" href="/{{tema.id}}/{{adelante.id}}">Siguiente</a>
                {% endifnotequal %}
                {% endif %}

            </div>
        </div>

    </div>

</section>


{% endblock body_data %}