{% extends 'base.html' %}
{% block title %}Wizard{% endblock title%}
{% block body_styles %}wizard-body{% endblock body_styles%}
{% block body_data %}


<section class="d-flex">
    
    <div class="sidebar">


        {% for item, info in annotated_list %}
            {% if info.open %}
                <ul ><li class=" item-sidebar">
            {% else %}
                </li><li class=""><a href="">
            {% endif %}

                <div class="{% ifequal paso.id item.id %}active{% endifequal %}"><a href="/{{tema.id}}/{{item.id}}" class="">{{item.nombre}}</a></div>

            {% for close in info.close %}
                </li></ul>
            {% endfor %}
        {% endfor %}

    </div>
    <div class="wizard">



        <div class="wizard-container">
            <h1>{{ paso.nombre }}</h1>
        
            {% if paso.imagenDestacada %}
            <div class="row">
                <div class="col-md-6">
                    {{ paso.texto|safe }}
                </div>
                <div class="col-md-6">
                    <img src="{{ paso.imagenDestacada.url }}" data-fancybox class="img-fluid" alt="">
                </div>
            </div>
            {% else %}
            <div class="row">

                <div class="col-md-12">
                    {{ paso.texto|safe }}
                </div>

            </div>
            {% endif %}
                









            <div class="row wizard-btn">
                <div class="col-md-6 text-center">
                    {% if atras == "" %}
                    <a class="btn btn-success" href="/">Finalizar</a>
                    {% else %}
                        {% if paso.tipo == 'PR' %}
                            <a class="btn btn-secondary" href="/{{tema.id}}/{{atras.id}}">No</a>
                        {% else %}
                            <a class="btn btn-secondary" href="/{{tema.id}}/{{atras.id}}">Atras</a>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="col-md-6 text-center">

                    {% if adelante == "" %}
                        <a class="btn btn-success" href="/">Finalizar</a>
                    {% else %}
                        {% if adelante %}
                            {% if paso.tipo == 'PR' %}
                                <a class="btn btn-success" href="/{{tema.id}}/{{adelante.id}}">Si</a>
                            {% else %}
                                <a class="btn btn-success" href="/{{tema.id}}/{{adelante.id}}">Siguiente</a>
                            {% endif %}
                        {% else %}
                            {% ifnotequal mainChild.id paso.id %}
                                <a class="btn btn-success" href="/">Finalizar</a>
                            {% else %}
                                <a class="btn btn-success" href="/{{tema.id}}/{{adelante.id}}">Finalizar</a>
                            {% endifnotequal %}
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>

    </div>

</section>


{% endblock body_data %}