/*All page*/
body {
    color: #eee;
    font-family: Lato, sans-serif;
    line-height: 1.4;
    font-size: 90%;
    margin: 2rem;
}
.row{
    --bs-gutter-x: 0rem !important;
}
/* button{
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    cursor: pointer;
} */
.btn-primary{
    color:rgb(022,065,148)
}
/* button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    color:black;
} */

/* Header */

.headerContainer{
    background-color: lightgray;
    min-height: 8vh;
}

/*Landing Page*/

.landingContainer{
    width: 100vw;
    height: 90vh;
    display: flex;
}
.landingContent{
    margin:auto;
    padding: 90px;
    border: solid 1px  #cccccc;
    border-radius: 20px;
    width: 70vw;
    height: auto;
    background-color: #f2f2f2;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.containerTemas{
    width: 75%;
    display: flex;
    align-self: center;
}

.square:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}
.temasLanding > a:hover{
    background-color: red;
    border-color: red;
    /*background: url("images/card-front.jpg") no-repeat;*/
}
.landingContent > h2{
    margin-bottom:60px;
}
/*Sidebar*/
.sidebar{
    height:90vh;
    position: absolute;
    margin-left:0;
    width:21vw;
    background-color: yellow;
}
.sidebar > div{
    height: 600px;
    position: relative;
    top:calc(50% - 300px);
    background-color: blue;
}

ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }

/* lOGIN */
.loginContainer{
    width: 100vw;
    height: 90vh;
    display: flex;
    
}
.loginContent{
    margin:15vh auto auto auto;
    padding: 80px;
    border: solid 1px  #cccccc;
    border-radius: 20px;
    width: 40vw;
    height: auto;
    background-color: #f2f2f2;
    text-align: center;
}
.loginTitle{
    margin-bottom: 5vh;
}

.formInput{
    margin: auto ;
    width: 60% !important;
}

li.active{
    background-color: #ccffff;
}