/*All page*/
html{
    height: 100%;
}
body {
    color: #eee;
    font-family: Lato, sans-serif;
    line-height: 1.4;
    font-size: 90%;
    margin: 2rem;
    height: 100%;
}
.row{
    --bs-gutter-x: 0rem !important;
}
/* button{
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    cursor: pointer;
} */
.btn-primary{
    background-color:rgb(022,065,148) !important;
    font-weight: 500 !important;
    border-width: 0px !important;
}

.btn-primary:hover{
    background-color:rgb(164,176,219) !important;
    color:black !important;

}

/* button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    color:black;
} */
/* Header */

.headerContainer{
    min-height: 8vh;
    background-color: #f2f2f2;
    position:sticky;
    left:0;
    margin-left:0;
    display: flex;
    align-items: center;
}
.headerContainer > a{
    margin-left: auto;
}
.loginHeader{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
/*Landing Page*/


.containerTemas{
    width: 75%;
    display: flex;
    align-self: center;
}
.square:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.temasLanding > a:hover{
    background-color: red;
    border-color: red;
    /*background: url("images/card-front.jpg") no-repeat;*/
}


.sidebar{
    overflow-y: auto;
}



.sidebar a{
    color:black;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}

.sidebar a.active{
    color:black;
    font-size: 17px;
    font-weight:700;
}

/* Login */
.loginContainer{

    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.loginContent{
    padding: 5% 10%;
    border: solid 1px #cccccc;
    border-radius: 20px;
    height: auto;
    background-color: #f2f2f2;
    text-align: center;
}
.loginTitle{
    margin-bottom: 5vh;
}
.formInput{
    margin: auto ;
    width: 60% !important;
}


.tema-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.tema-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:white;
}

.tema-link:hover{
    color: #3498db;
}

.tema-container>span{
    backdrop-filter: blur(30px);
    padding: 0.5em;
    border-radius: 15px;
}

.spacing-between{
    padding: 0px 10px !important;
    margin: 30px 0px !important;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li {
    line-height:40px;
}
  
.sidebar ul li li {
    line-height:40px;
}

.sidebar div.active:before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background: rgb(164,176,219);
    border-radius: 20px;
}

.sidebar div.active{
    position: relative;
}

.sidebar div.active *{
    position: relative;
    z-index: 99;
}

.sidebar div.active a{

}
.sidebar div{
    line-height: 1.8em;
}

.loader{
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(222,224,242);
}


.loader>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    animation: loader 1.9s cubic-bezier(0.34, 0.01, 0.11, 0.95) 0s infinite;
}

@keyframes loader{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    15%{
        transform: translate(-50%,-50%) rotate(-15deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}




.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.sidebar{

    background-color: white;
    width: 30%;
    padding: 10px;
    z-index: 9;
    transition: all 0.5s ease-in-out;
    right: 100%;

}

.toggle-mobile-sidebar{
    display: none !important;
    margin-left: auto;
    margin-right: 10px;
}

.wizard{
    width:70%;
    padding: 100px 20px 20px 20px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(222,224,242);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(222,224,242); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(164,176,219); 
    border-radius: 10px;
}


.wizard-btn{
    padding: 20px 0px;
}

.wizard-container{
    width: 80%;
    margin: auto;
}

@media (max-width: 768px) {
    .sidebar{
        position: absolute;
        width: 100%;
        bottom: 0;
        top: 100px;
    }
    .sidebar.open{
        right: 0%;
    }

    .wizard-body .toggle-mobile-sidebar{
        display: block !important;
    }
    .wizard{
        width: 100%;
    }
    .wizard-btn .col-md-6 {
        width: 50%;
    }
}